.projects{
    width: 100vw;
    left: 0;
    padding-top: 5rem;
    position: relative;
}

.project{
    width: 100%;
    height: 100vh;
    align-items: center;
    position: relative;
    overflow-x: hidden;
}

.project-img{
    position: absolute;
    height: 60%;
    width: 50%;
    z-index: 0;
    object-fit: cover;
}

.project-img-right{
    left: 15vw;
    top: 0;
}

.project-img-left{
    right: 15vw;
    top: 15%;
}

/* for tab and body */
.project-body{
    position: absolute;
    z-index: 1;
    width: 30em;
}

.project-body-right{
    right: 15vw;
    top: 30%;
}

.project-body-left{
    left: 15vw;
    top: 0;
}

.project-body-tab{
    width: 100%;
}

.project-body-container{
    position: absolute;
    top: 20%;
    height: 200px;
    width: 100%;
    text-align: center;
    line-height: 200px;
}

.project-body-text{
    line-height: 1.5;
    display: inline-block;
    vertical-align: middle;
}

.project-body-title{
    position: absolute;
    left: 3%;
    top: 4%;
}

/* vertical tabs on small devices */
.project-vertical{
    width: 100vw;
    margin: 20% 0;
}


.project-vertical-container{
    width: 100vw;
    position: relative;
    left: 0;
    overflow: hidden;
    opacity: 0%;
}

.project-vertical-tab{
    width: 85%;
    margin:0 7.5%;
}

.project-vertical-title{
    position: absolute;
    top: 2%;
    left: 13%;
}

.project-vertical-img{
    position: absolute;
    object-fit: cover;
    width: 60%;
    height: 30%;
    top: 15%;
    left: 20%;
}

.project-vertical-text{
    position: absolute;
    width: 60%;
    height: 30%;
    top: 55%;
    left: 20%;
    text-align: center;
}


