.skills{
    padding: 2rem 1rem;
    margin-bottom: 5vh;
    width: 100%;
    background-color: var(--clr-highlight1);
    align-items: center;
    justify-content: center;
}

.skills-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex-wrap: wrap;
}

.skills-skill{
    margin: 0.5rem 0.5rem;
    display: block;
    width: 3.5rem;
}

@media screen and (max-width: 768px) {
    .skills-skill{
        width: 3rem;
    }
}
