.contact{
    padding: 5vw;
    width: 100%;
}

.contact-title{
    color: var(--clr-highlight1)
}

.contact-email{
    margin: 5rem 0;
    color: var(--clr-highlight2);
}

.contact-divider{
    width: 100%;
    height: 10px;
    background-color: var(--clr-dark);
}

.contact-container{
    display: flex;
    margin: 2rem 0;
}

.contact-logo{
    width: 4rem;
}

.contact-link{
    color: var(--clr-highlight2);
    margin: 0 2rem;
    height: 4rem;
    line-height: 3.5rem;
}

.fade1{
    opacity: 0%;
    animation: 1s ease-out 0.5s fade-slideUp forwards;
}

.fade2{
    opacity: 0%;
    animation: 1s ease-out 0.65s fade-slideUp forwards;
}

.fade3{
    opacity: 0%;
    animation: 1s ease-out 0.8s fade-slideUp forwards;
}

.fade4{
    opacity: 0%;
    animation: 1s ease-out 0.95s fade-slideUp forwards;
}

.extend{
    width: 0%;
    animation: 1.5s ease-in-out 0.7s extend forwards;
}