.contact{
    padding: 5vw;
    padding-top: 25vh;
    padding-bottom: 5vh;
    width: 100%;
}

.contact-title{
    color: var(--clr-highlight1);
    opacity: 0%;
}

.contact-email{
    margin: 10vh 0;
    color: var(--clr-highlight2);
    opacity: 0%;
}

.contact-divider{
    width: 100%;
    height: 10px;
    background-color: var(--clr-dark);
    opacity: 0;
}

.contact-container{
    display: flex;
    margin: 2rem 0;
    opacity: 0%;
}

.contact-logo{
    width: 4rem;
}

.contact-link{
    color: var(--clr-highlight2);
    margin: 0 2rem;
    height: 4rem;
    line-height: 3.5rem;
}

.fade1{
    opacity: 0%;
    animation: 0.6s ease-out 0.5s fade-fromLeft forwards;
}

.fade2{
    opacity: 0%;
    animation: 0.6s ease-out 0.65s fade-fromLeft forwards;
}

.fade3{
    opacity: 0%;
    animation: 0.6s ease-out 0.8s fade-fromLeft forwards;
}

.fade4{
    opacity: 0%;
    animation: 0.6s ease-out 0.95s fade-fromLeft forwards;
}

.extend{
    width: 0%;
    animation: 0.6s ease-in-out 0.7s extend forwards, 0.5s ease-in-out 0.7s fade-fromLeft forwards;
}