.contact{
    padding: 5vw;
    width: 100%;
}

.contact-title{
    color: var(--clr-highlight1)
}

.contact-email{
    margin: 5rem 0;
    color: var(--clr-highlight2);
}

.contact-divider{
    width: 100%;
    height: 10px;
    background-color: var(--clr-dark);
}

.contact-container{
    display: flex;
    margin: 2rem 0;
}

.contact-logo{
    width: 4rem;
}

.contact-link{
    color: var(--clr-highlight2);
    margin: 0 2rem;
    height: 4rem;
    line-height: 3.5rem;
}