.nav{
    width: 100vw;
    height: 10vh;
    padding: 0 5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 3;
    
    opacity: 0%;
    animation: 1s ease-out 0.5s 1 fade-slideUp forwards;
}

.nav-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-menu{
    display: none;
}

.nav-menu-icon{
    width: 2rem;
}

.nav-menu-icon:hover{
    cursor: pointer;
}

/* nav items*/

.nav-item{
    margin: 0 2rem;
    cursor: pointer;
    display: inline-block;
    position: relative;
}

.nav-item::before{
    position: absolute;
    content: "";
    right: 0;
    bottom: -3px;
    width: 0%;
    height: 2px;
    background-color: var(--clr-dark);
    transition: width 200ms ease-out;
}

.nav-item:hover::before{
    width: 100%;
    left: 0;
    right: auto;
}


/* name */

.nav-name{
    color: var(--clr-highlight1);
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    position: relative;
}

.nav-name::before{
    position: absolute;
    content: "";
    right: 0;
    bottom: -3px;
    width: 0%;
    height: 2px;
    background-color: var(--clr-highlight1);
    transition: width 200ms ease-out;
}

.nav-name:hover::before{
    width: 100%;
    left: 0;
    right: auto;
}


/*small devices */
@media screen and (max-width: 768px) {
    .nav-menu{
        display: inline;
    }

    .nav-list{
        display: none;
    }
}


/* menu bar */
.nav-menu-anim-enter{
    margin-top: 100vh;
}

.nav-menu-anim-enter-active{
    margin-top: 0;
    transition: margin-top 300ms ease-in-out;
}

.nav-menu-anim-exit{
    margin-top: 0;
}

.nav-menu-anim-exit-active{
    margin-top: 100vh;
    transition: margin-top 300ms ease-in-out;
}

.nav-menu-items-anim-enter{
    opacity: 0;
    transform: translateX(50px);
}

.nav-menu-items-anim-enter-active{
    opacity: 1;
    transform: translateX(0);
    transition: opacity 500ms ease-out, transform 500ms ease-out;
    transition-delay: 200ms;
}

.nav-menubar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--clr-highlight1);
    padding: 5vw;
    z-index: 5;
    display: block;
}

.nav-menubar-close{
    width: 2rem;
    float: right;
}

.nav-menubar-list{
    margin-top: 5rem;
    text-align: right;
    display: flex;
    flex-direction: column;
}

.nav-menubar-item{
    margin: 2em 0;
}
