.nav{
    width: 100vw;
    height: 10vh;
    padding: 0 5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 3;
}

.nav-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-menu{
    display: none;
}

.nav-menu-icon{
    width: 2rem;
}

.nav-menu-icon:hover{
    cursor: pointer;
}

/* nav items*/

.nav-item{
    margin: 0 2rem;
    cursor: pointer;
    display: inline-block;
    position: relative;
}

.nav-item::before{
    position: absolute;
    content: "";
    right: 0;
    bottom: -3px;
    width: 0%;
    height: 2px;
    background-color: var(--clr-dark);
    transition: width 200ms ease-out;
}

.nav-item:hover::before{
    width: 100%;
    left: 0;
    right: auto;
}


/* name */

.nav-name{
    color: var(--clr-highlight1);
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    position: relative;
}

.nav-name::before{
    position: absolute;
    content: "";
    right: 0;
    bottom: -3px;
    width: 0%;
    height: 2px;
    background-color: var(--clr-highlight1);
    transition: width 200ms ease-out;
}

.nav-name:hover::before{
    width: 100%;
    left: 0;
    right: auto;
}

/* menu button on small devices */
@media screen and (max-width: 768px) {
    .nav-menu{
        display: inline;
    }

    .nav-list{
        display: none;
    }
}