.intro{
    width: 100%;
    height: 50vh;
    margin: 25vh 0;
    display: flex;
    justify-content: center;
}

.intro-tab{
    height: 100%;
    object-fit: contain;
    margin: 0 2rem;
}

.intro-container{
    width: 20vw;
    margin: 0 2rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.intro-title{
    color: var(--clr-highlight1);
}

.intro-body{
    margin: 3rem 0;
}

.intro-link{
    color: var(--clr-highlight2);
}

@media screen and (max-width: 768px) {
    .intro-container{
        width: 90%;
    }

    .intro-tab{
        display: none;
    }
}
